/* Custom css for formular */

._important {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

/* Allows for overriding default link colours */
a._link_white {
    ;
    color: white;
}

a._link_white:hover {
    text-decoration-line: underline;
}

/* Force #000 for black-on-white text for maximum contrast and readability */
body,
strong,
.box,
.label,
.title,
.table,
.table th,
.table thead td,
.table thead th,
.table td {
    color: #000;
}

/* Remove table borders */
.table td,
.table th {
    /*
  border: 1px solid #dbdbdb;
  padding: 0.5em 0.75em;
  vertical-align: top;
  border-width: 0 0 1px;
    */
    border-width: 0 0 0px;
}

/* Adds excessive(?) white-space to the table. It's very 2015-esque. */

.table td {
    padding-bottom: 1rem;

}

.table thead th {
    font-weight: normal;
}

/* fix odd cross-browser rendering bug in .message-header in a details tag */

details .message-header {
    display: list-item;
}

/* Added smooth scrolling for in-document anchor linking */

html {
    scroll-behavior: smooth;
}

/* copyright notice positioning style on top of portrait photos */

._copyright {
    z-index: 1;
    position: absolute;
    bottom: 0%;
}

/* background colours for hero/footer & margins */

._kritis_blue_background_color {
    background-color: #00689d;
}

/* Blinking animation for "on air"/live indicator */

._blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}