/* This file imports a few standard icons and makes them available for use with the class="icon icon-*" tag */

/* example:
<p>
  <span class="icon icon-phone is-medium">
  </span>
  +49 615116-57365
</p>
 */

/* Created with https://icomoon.io/app */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?h2ivvp');
  src:  url('../fonts/icomoon.eot?h2ivvp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?h2ivvp') format('truetype'),
    url('../fonts/icomoon.woff?h2ivvp') format('woff'),
    url('../fonts/icomoon.svg?h2ivvp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bank:before {
  content: "\f19c";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-gavel:before {
  content: "\e902";
}
.icon-legal:before {
  content: "\e902";
}
.icon-file-pdf-o:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e900";
}
.icon-user:before {
  content: "\f007";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-phone:before {
  content: "\f095";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
